<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Information</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="topnav">
    <a href="/">Hello <%= dataUser.username %>!</a>
    <a href="/users">Info</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/sell">Sells</a>
    <a href="/logout">Logout</a>
  </div>
  <div class="edit-info-container">
    <fieldset>
      <legend>Edit Info</legend>
    <form action="/edit-info" method="post">
      <input name="username" hidden value="<%= dataUser.username %>"/>
      <div>
        <label></label>
        <input name="email" value="<%= dataUser.email %>" placeholder="email"/>
      </div>
      <div>
          <label></label>
          <input type="text" value="<%= dataUser.dob %>" onfocus="(this.type='date')" onblur="(this.type='text')" name="dob" placeholder="D.O.B." required />
      </div>
      <div>
        <label></label>
        <input type="password" name="checkpassword" placeholder="password"/>
      </div>
      <div>
        <button class="button-save" type="submit">Save!</button>
      </div>
    </form>
    </fieldset>
  </div>
</body>
</html>